.header-view-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.3rem 1rem;
    .header-view-left-section {
        width: 12rem;
        padding: 0.3rem 0.5rem;
        display: flex;
        align-items: center;
        .star-container {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            margin: 0 .5rem;
        }
        
    }
    .header-view-middle-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 8rem;
    }
    .header-view-right-section {
        display: flex;
        align-items: center;
        width: 23rem;
    }
}
