.navbar-items-container {
    width: 100%;
    height: 100%;
    padding: 0 4rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ul {
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li {
            margin: 0 1rem;
            height: 100%;
        }
    }
}
