.settings-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
  .x-axis-group {
    // position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    overflow: visible;
    .settings-field-title-wrapper {
      margin-bottom: 8px;
      width: 100%;
      .settings-field-title {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 8px;
        flex-shrink: 0;
        letter-spacing: 0px;
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
    .setting-dropdown-component {
      position: relative;
      margin-bottom: 0.5rem;
      .dropdown-wrapper {
        position: relative;
        flex: 1;
        box-sizing: border-box;
        height: 40px;
        min-height: 30px;
        border: 1px solid;
        box-shadow: none;
        border-radius: 3px;
        transition: border 0.1s;
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: all 100ms ease 0s;
        &:hover {
          border: 1px solid rgb(64, 64, 68);
        }
        .dropdown-title {
          align-items: center;
          display: flex;
          justify-content: flex-end;
          flex: 1 1 0%;
          flex-wrap: wrap;
          padding: 2px 16px 2px 8px;
          position: relative;
          overflow: hidden;
          box-sizing: border-box;
          font-size: 14px;
          line-height: 14px;
          height: 38px;
        }
        .dropdown-indicator {
          align-items: center;
          align-self: stretch;
          display: flex;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 32px;
          height: 32px;
          font-size: 14px;
          line-height: 14px;
          transition: color 150ms ease 0s;
          justify-content: center;
          border-radius: 3px;
          margin: 3px;
          .dropdown-indicator-icon {
            transition: all 0.1s ease;
            transform: rotate(0deg);
            margin-top: 1px;
          }
          .rotate {
            transform: rotate(180deg);
            margin-bottom: 6px;
          }
          &:hover {
            background-color: #e6e9ef;
          }
        }
      }
      .open {
        border: 1.2px solid rgb(19, 19, 233);
        &:hover {
          border: 1.2px solid rgb(19, 19, 233);
        }
      }
    }
    .picker {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
