@import "../../../../../assets/config/global";

.BankContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  margin-left: 1rem;
  overflow: hidden;
  position: relative;
  transition: background 100ms;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}
