.body-content-custom-container {
    width: 100%;
    padding: 2.5rem;
    direction: rtl;
    .brand-title {
        font-weight: 200;
    }
    .seprator{
        width: 100%;
        height: 1px;
        background-color: red;
        opacity: .6;
        margin-bottom: 1rem;
    }
    .body-content-custom-logo-container {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        .main-menu-log {
            font-weight: 200;
        }
        img {
            margin-top: 1rem;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        .recommended-logo-size {
            margin-top: .3rem;
            font-size: 14px;
            opacity: 0.8;
        }
        .body-content-custom-button-container {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0;
            margin-top: 1.5rem;
            .button-text {
                display: flex;
                flex-direction: row-reverse;
                font-size: 0.8rem;
                border-radius: 0.2rem;
                overflow: hidden;
                align-items: center;
                padding: 0.5rem 0.8rem;
                padding-right: 0.4rem;
            }
        }
    }
    .body-content-custom-title-container {
        margin-top: 2rem;
        .main-menu-log {
            font-weight: 200;
        }
        .body-content-custom-button-container {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0;
            margin-top: 1.5rem;
            .button-text {
                display: flex;
                flex-direction: row-reverse;
                font-size: 0.8rem;
                border-radius: 0.2rem;
                overflow: hidden;
                align-items: center;
                padding: 0.5rem 0.8rem;
                padding-right: 0.4rem;
            }
        }

        .editable-input {
            border: 1px solid #c5c7d0;
            font-size: 1rem;
            margin-top: 1rem;
            outline: none;
            margin-bottom: .5rem;
            width: 20rem;
            padding:.2rem 0.4rem;
        }

        .buttons-change-title-container {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-start;
            width: 15rem;
        }
    }
}
