.create-charts-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  transition: color 0.2s ease-out, background 0.2s ease-out;

  .section-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    border-bottom: 1px solid;

    .settings-title-and-description {
      display: flex;
      flex: 0 1 auto;
      flex-direction: column;
      margin-bottom: 1rem;

      .settings-title {
        display: flex;
        justify-content: flex-end;
        font-size: 1.2rem;
        font-weight: bold;
      }
      .settings-description {
        font-size: 0.9rem;
      }
    }
  }

  .section-settings-wrapper {
    display: flex;
    flex: 1 0 0;
    min-height: 0;
    padding: 1rem;

    .section-settings {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      height: auto;
      margin: 0.5rem 1rem 0rem 0rem;
      border: 1px solid;
      border-radius: 5px;
      box-shadow: none;
      // overflow: auto;

      .section-settings-header-wrapper {
        position: absolute;
        overflow: visible;
        border-radius: 7px 7px 0 0;
        border-bottom: 1px solid;
        padding: 0 0.5rem;
        z-index: 200;
        pointer-events: none;
        height: 4rem;
        box-sizing: content-box;
        left: 0;
        right: 0;
        top: 0;
      }

      .section-settings-display-type-switcher-wrapper {
        position: absolute;
        padding-top: 1.5rem;
        padding-left: 1rem;
        display: flex;
        left: 0;
        width: auto;
        justify-content: flex-end;
        z-index: 200;
      }

      .section-settings-content-component {
        z-index: 100;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        .section-settings-content-header-container {
          max-height: 60px;
          flex: 20 1 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          padding: 0 1rem;

          .base-section-settings-header-component {
            display: flex;
            flex: 1 1 auto;
            position: relative;
            text-align: start;
            height: 64px;
            max-height: 64px;
            justify-content: flex-end;
            align-items: center;
            margin-left: calc(100% - 480px);
            .base-section-settings-header {
              font-size: 1rem;
              justify-content: flex-end;
              flex: 0 1 auto;
              display: flex;
              font-weight: 400;
              cursor: default;
              overflow: hidden;
              align-items: center;
              .editable-component {
                height: auto;
                flex: 0 1 auto;
                min-width: 0;
                width: 100%;
                .editable-input {
                  border: 1px dashed #c5c7d0;
                  font-size: 1rem;
                  outline: none;
                  width: 100%;
                }
                .text-component {
                  width: 100%;
                  height: 100%;
                  overflow-x: hidden;
                  overflow-y: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  border: 1px solid transparent;
                  padding: 0 2px;
                }
                .text-component:hover {
                  cursor: text;
                  border: 1px dashed #c5c7d0;
                }
              }
            }
            .renaming-section {
              flex: 1 1 auto;
            }
          }
        }
        .section-chart-content-container {
          position: relative;
          display: flex;
          flex-direction: column;
          flex: 1 1 0;
          min-height: 0;
          margin-right: 8px;
          margin-top: 10px;
        }
        .table-component-container {
          position: relative;
          flex: 1 1 auto;
          overflow: auto;
          height: 0;
          margin: 0 2rem;
          border-radius: 8px 8px 0 0;
          box-shadow: -5px 0px 12px 0px rgba(0, 0, 0, 0.05%);
        }
      }
    }
  }
}
