.auth-container {
  width: calc(100% - 8rem);
  height: calc(100% - 6rem);
  background-color: white;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 1rem;
  display: flex;
  margin: 3rem 4rem;
  align-items: center;
  .auth-body {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text-loading {
      animation: fadeIn 1.5s ease-out infinite;
    }
    @keyframes fadeIn {
      0% {
        opacity: 0.3;
        transform: scale(1);
      }
      25% {
        opacity: 0.5;
        transform: scale(0.97);
      }
      50% {
        opacity: 0.7;
        transform: scale(0.95);
      }
      75% {
        opacity: 0.5;
        transform: scale(0.97);
      }
      100% {
        opacity: 0.3;
        transform: scale(1);
      }
    }
  }
}
