.sijam-style-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 4px 8px;
  height: 32px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  white-space: nowrap;
  transition: transform 50ms;
  &:active {
    transform: scale(0.95);
  }
}
