.dropdown {
  position: absolute;
  overflow: hidden;
  margin-top: 1.5rem;
  z-index: 1000;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.08);
  backdrop-filter: transparent(0);
  backdrop-filter: blur(10px);
  animation: fadeInDropDown 0.2s ease-in-out backwards;
  .dropdown-divider {
    border-top: 1px solid; //rgba(0, 0, 0, 0.1)
    margin: 0 0.8rem;
  }
  .dropdown-item {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 0.75rem 0.5rem 3rem;
    font-size: 0.8rem;
  }
  .dropdown-icon {
    margin: 0.2rem 0 0 0.5rem;
    opacity: 0.5;
    filter: grayscale(100%);
  }
  .dropdown-item:hover {
    background-color: rgba(230, 230, 230, 0.5);
    cursor: pointer;
    .dropdown-icon {
      opacity: 1;
      filter: grayscale(0%);
    }
  }
}
@keyframes fadeInDropDown {
  0% {
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-7%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1);
  }
}
