%global-shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
span.ripple {
    position: absolute; /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    // background-color: #red;
    background-color: #332b8b;
    opacity: 0.4;
    
}
@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}